/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

@layer components, variations;

@layer components {
    .button {
        border: 2px solid var(--main-color);
        font-size: 0.88rem;
        background: transparent;
        cursor: pointer;
        outline: none;
        padding: 0;
        font-family: var(--accent-font), Helvetica, fantasy;
    }

    .container {
        width: var(--content-size);
    }
}

.page {
    min-inline-size: 320px;
    min-block-size: 100dvb;
    font-family: var(--main-font), Arial, sans-serif;
    color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--bg-color) center / cover no-repeat;
    background-attachment: fixed;
    background-image: var(--main-gradient);
    font-variation-settings: var(--wght-regular);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    row-gap: 1.5rem;
    margin: 6.3rem 0;
    text-transform: uppercase;
    font-family: var(--accent-font), Helvetica, fantasy;
    border: 2px solid var(--main-color);
    padding: clamp(7.5rem, 6.3462rem + 4.9231vw, 8.5rem) 0 25px;
    background: var(--bg-color);
}

.header-logo {
    display: flex;
    flex-direction: column;
    row-gap: 1.25rem;
    justify-content: space-between;
    align-items: center;
}

.header-logo-link {
    font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header-logo-title {
    font-size: clamp(0.875rem, 0.7143rem + 0.8036vw, 1.4375rem);
    font-weight: bold;
}

.theme-menu__item:not(:last-of-type) {
    margin-bottom: .875rem;
}

@layer variations {
    .theme-menu__button {
        font-weight: 400;
        line-height: 0.88rem;
        border: none;
        position: relative;
        display: flex;
        gap: .25rem;
        text-transform: uppercase;
    }
}

.theme-menu__button:before {
    content: "▶";
    display: block;
    width: 100%;
    animation: nav-is-active .5s infinite ease-in-out alternate;
}

.theme-menu__button:after {
    content: "";
    display: block;
    width: calc(100% - 1.125rem);
    height: 2px;
    position: absolute;
    bottom: -2px;
    right: 0;
    background: var(--main-color);
    opacity: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .3s ease;
}

.theme-menu__button:focus-visible::after {
    transform: scaleX(1);
}


.theme-menu__button:is(:hover,:focus,:focus-visible,:disabled) {
    opacity: .6;
}

.theme-menu__button:is(:disabled) {
    cursor: default;
    pointer-events: none
}

.theme-menu__button:not(:disabled):before {
    opacity: 0;
}

.main-cards {
    display: grid;
    gap: 3.2rem;
}

.card {
    background: var(--bg-color);
    border: 2px solid var(--main-color);
}

.card-title {
    font-size: 1.13rem;
    font-weight: 800;
    line-height: 1.38rem;
    padding: .25rem .625rem;
}

.card-image {
    display: grid;
    overflow: hidden;
    border-top: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
}

.card-image-pic {
    width: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1/1;
    grid-area: 1/2;
}

.blur {
    filter: blur(10px);
}

.saturate {
    filter: saturate(200%);
}

.sepia {
    filter: sepia(1.5);
}

.invert {
    filter: invert(100%);
}

.brightness {
    filter: brightness(150%);
}

.grayscale {
    filter: grayscale(80%);
}

.mixed {
    filter: hue-rotate(0.5turn) contrast(120%);
}

.card-image-tag {
    padding: 1.625rem;
    justify-self: end;
    mix-blend-mode: hard-light;
    grid-area: 1/2;
    font-family: var(--accent-font), Helvetica, fantasy;
    opacity: .5;
    text-transform: uppercase;
    font-size: 0.88rem;
    text-shadow: -1px 0 var(--bg-color),
    0 1px var(--bg-color),
    1px 0 var(--bg-color),
    0 -1px var(--bg-color);
}

@supports((text-stroke: 1px var(--bg-color)) or (-webkit-text-stroke: 1px var(--bg-color))) {
    .card-image-tag {
        -webkit-text-stroke: 1px var(--bg-color);
        text-stroke: 1px var(--bg-color);
        text-shadow: none;
    }
}

.card-content {
    font-size: 1.13rem;
    font-weight: 400;
    line-height: 1.31rem;
    padding: 1.625rem 1.625rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.625rem;
}

.card-content-btns {
    display: flex;
    justify-content: end;
    gap: .3rem;
    align-items: center;
}

@layer variations {
    .card-button-icon {
        border-color: transparent;
    }
    .card-button-like {
        width: min(130px,100%);
        padding: .625rem 0;
        position: relative;
        overflow: hidden;
    }
}

.is-filled {
    position: relative;
    overflow: hidden;
    transition: box-shadow .3s ease;
}

.is-filled:before {
    content: '';
    position: absolute;
    inset: 0;
    transform: translateX(-100%);
    transition: transform .5s ease-in-out;
    background: var(--main-color);
}

.is-filled:hover:before {
    transform: translateX(0%);
}

.is-filled:focus-visible {
    box-shadow: 2px 2px var(--main-color);
}

.is-filled .text {
    mix-blend-mode: difference;
}

@layer variations {
    .container-xs {
        max-width: 335px;
    }
    @media (width < 376px) {
        .container-xs {
            max-width: 306px;
        }
    }
}

.popup {
    margin: 3.25rem auto 6.25rem;
}

.popup .floppy {
    width: 21px;
    height: 21px;
    mix-blend-mode: difference;
}

@layer variations {
    .popup-button {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;
        background: var(--bg-color);
        min-height: 55px;
    }
    @media (width < 376px) {
        .popup-button {
            flex-direction: column;
            min-height: 80px;
        }
    }
}

.popup-window {
    background: var(--bg-color);
    border: 2px solid var(--main-color);
    color: var(--main-color);
    padding: 1.75rem;
}

.popup-window::backdrop {
    background-color: rgb(0, 0, 0, 0.75);
}

.popup-window :is(.floppy) {
    width: 39px;
    height: 39px;
}

.popup-window-title {
    display: flex;
    gap: 1.25rem;
    align-items: center;
}

.popup-window-text {
    font-family: var(--accent-font), Helvetica, fantasy;
    max-width: 234px;
    text-transform: uppercase;
    line-height: 1.5;
    font-size: 0.88rem;
    font-weight: bold;
    color: var(--main-color);
}

@media (width < 376px) {
    .popup-window-text {
        max-width: 200px;
    }
}

.popup-window-dialog {
    width: 100%;
}

@layer variations {
    .popup-window-button {
        width: 100%;
        min-height: 38px;
        text-transform: uppercase;
        margin-top: 1.625rem;
    }
}